extends includes/layout.pug

block content
    .container
        .card.horizontal.contenedor-card
            .card-stacked
                .card-content.contenedor-titulo.white-text.red.darken-4
                    h5 Contactenos
                    span Envíenos un mensaje y nos comunicaremos con usted
                .card-action
                    .row
                        .col.s12.m4.contenedor-datos.justify
                            div.contenedor-icono
                                i.material-icons location_on
                            div
                                span Oficina Principal
                                p Av. Principal Nº 260
                                p C.P. San Pedro de Pilpa - Sunampe, Chincha
                        .col.s12.m4.contenedor-datos.justify
                            div.contenedor-icono
                                i.material-icons phone
                            div
                                span Teléfonos
                                p (056) 263 125)
                                p 988 123 211
                        .col.s12.m4.contenedor-datos.justify
                            div.contenedor-icono
                                i.material-icons mail
                            div
                                span Email
                                p ventas@cartoneriafyl.com

        .row
            .col.s12.m12.l7
                .map#map
            .col.s12.m12.l5    
                .contenedor-formulario
                    form(action="").col.s12
                        .form-title.center
                            h5 Envíenos un mensaje
                        .input-field.col.s12
                            input(type="text")#nombre.validate
                            label(for="nombre") Nombre
                        .input-field.col.s12
                            input(type="email")#email.validate
                            label(for="email") Email
                        .input-field.col.s12
                            input(type="text")#asunto.validate
                            label(for="asunto") Asunto
                        .input-field.col.s12
                            textarea(name="mensaje", cols="30", rows="10")#mensaje.materialize-textarea
                            //- input(type="text")#asunto.validate
                            label(for="mensaje") Mensaje
                        .row.center    
                            a.btn(href="#").waves-effect.waves-light.red.darken-4 Enviar    
    