extends includes/layout.pug

block content

  //- *********************** Parallax Section *********************************
  .slider
    .slider1
    .slider2
    .slider3

  //- *********************** We Services Section *********************************
  .container-services-section.red.darken-4 
    h4.title-section-services.center.white-text NUESTROS SERVICIOS
    .container
      .row.container-cards-services
        .col.s12.m12.l4.xl4.card-services-content
          h6.titulo-servicio.center Diseño
          p.descripcion-servicio
          |  Lorem ipsum dolor sit amet.
          |  Lorem ipsum dolor sit amet. 
          |  Lorem ipsum dolor sit amet. 

        .col.s12.m12.l4.xl4.card-services-content
          h6.titulo-servicio.center Venta
          p.descripcion-servicio
          |  Lorem ipsum dolor sit amet.
          |  Lorem ipsum dolor sit amet. 
          |  Lorem ipsum dolor sit amet. 

        .col.s12.m12.l4.xl4.card-services-content
          h6.titulo-servicio.center Post-Venta
          p.descripcion-servicio
          |  Lorem ipsum dolor sit amet.
          |  Lorem ipsum dolor sit amet. 
          |  Lorem ipsum dolor sit amet. 

  //- *********************** Slider Clients Section ****************************
  //- title slider
  .container
    .h4.title-section-clients-slider NUESTROS CLIENTES

  //- container-slider
  .slider-clients.carousel
    .image-container.carousel-item
      img(src="img/clientes/cliente01.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente02.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente03.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente01.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente02.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente03.png", alt="imagen-cliente")  
    .image-container.carousel-item
      img(src="img/clientes/cliente01.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente02.png", alt="imagen-cliente")


