extends includes/layout.pug

block content
  //- *********************** Parallax Section *********************************
  .parallax-container#parallax
    .parallax
      img(src="img/slider1.png").transition-slider

  //- *********************** Services Section *********************************
  .container-services-section.red.darken-4 
    h4.title-section-services.center.white-text NUESTROS SERVICIOS
    .container
      .row.container-cards-services
        .col.s12.m12.l4.xl4.card-services-content
          h6.titulo-servicio.center Diseño
          p.descripcion-servicio
          |  Contamos con personal altamente calificado que atenderá sus requerimientos
          |  desde el diseño estructural de sus cajas a fín de brindarle la mejor solución 
          |  que se adapte a sus necesidades. 


        .col.s12.m12.l4.xl4.card-services-content
          h6.titulo-servicio.center Venta
          p.descripcion-servicio
          |  Contamos con personal altamente calificado que atenderá sus requerimientos
          |  desde el diseño estructural de sus cajas a fín de brindarle la mejor solución 
          |  que se adapte a sus necesidades. 

        .col.s12.m12.l4.xl4.card-services-content
          h6.titulo-servicio.center Post-Venta
          p.descripcion-servicio
          |  Contamos con personal altamente calificado que atenderá sus requerimientos
          |  desde el diseño estructural de sus cajas a fín de brindarle la mejor solución 
          |  que se adapte a sus necesidades. 

  //- *********************** Slider Clients Section ****************************
  .container
    .h4.title-section-clients-slider NUESTROS CLIENTES

  .container-slider
    .slider-clients
      .image-container
        img(src="img/clientes/cliente01.png", alt="imagen-cliente")
      .image-container
        img(src="img/clientes/cliente02.png", alt="imagen-cliente")
      .image-container
        img(src="img/clientes/cliente03.png", alt="imagen-cliente")
      .image-container
        img(src="img/clientes/cliente01.png", alt="imagen-cliente")
      .image-container
        img(src="img/clientes/cliente02.png", alt="imagen-cliente")
      .image-container
        img(src="img/clientes/cliente03.png", alt="imagen-cliente")  
      .image-container
        img(src="img/clientes/cliente01.png", alt="imagen-cliente")
      .image-container
        img(src="img/clientes/cliente02.png", alt="imagen-cliente")



