extends includes/layout.pug

block content

  //- *********************** Parallax Section *********************************
  .slider
    .slider1
    .slider2
    .slider3

  //- *********************** We Services Section *********************************
  .container-services-section.red.darken-4 
    h4.title-section-services.center.white-text NUESTROS SERVICIOS
    .container
      .row.container-cards-services
        .col.s12.m12.l4.xl4.card-services-content
          h6.titulo-servicio.center Diseño
          p.descripcion-servicio
            | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.

        .col.s12.m12.l4.xl4.card-services-content
          h6.titulo-servicio.center Venta
          p.descripcion-servicio
            | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.

        .col.s12.m12.l4.xl4.card-services-content
          h6.titulo-servicio.center Post-Venta
          p.descripcion-servicio
            | Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.

  //- *********************** Slider Clients Section ****************************
  //- title slider
  .container
    h4.title-section-clients-slider NUESTROS CLIENTES

  //- container-slider
  .slider-clients.carousel.carousel-fixed-item
    .image-container.carousel-item
      img(src="img/clientes/cliente01.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente02.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente03.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente01.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente02.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente03.png", alt="imagen-cliente")  
    .image-container.carousel-item
      img(src="img/clientes/cliente01.png", alt="imagen-cliente")
    .image-container.carousel-item
      img(src="img/clientes/cliente02.png", alt="imagen-cliente")


