include ./partials/head

body

include ./partials/navigation
.fondo.testcontainer Texto

//- .fondo.testcontainer
//-     .container
//-         .card.login-card-container
//-             .section-img-form
//-                 img(src="http://cartoneria.teamsoha.com/images/logo.png", alt="logotipo")
//-             .section-data-form
//-                 form(action="#")
//-                     .input-field
//-                         input(type="text" placeholder="Usuario").validate#username
//-                         label(for="username")
//-                     .input-field
//-                         input(type="password" placeholder="Contraseña")#password.validate
//-                         label(for="password")
//-                     .input-field.login-button-container
//-                         .reset-password
//-                             a(href="") Olvide mi contraseña
//-                         .button-submit
//-                                 button(type="submit").btn.red.darken-4 Enviar
