include ./partials/head

body

include ./partials/navigation
//- .fondo.testcontainer Texto

.fondo.testcontainer
    .container
        .card.login-card-container
            .section-img-form
                img(src="/img/logo_cartoneria.png", alt="logotipo")
            .section-data-form
                form(action="http://localhost:3000/user/signup" method="POST")
                    .input-field
                        input(type="text" placeholder="Usuario" name="user" required).validate#username
                        label(for="username")
                    .input-field
                        input(type="password" placeholder="Contraseña" name="password" required)#password.validate
                        label(for="password")
                    .input-field.login-button-container
                        .reset-password
                            a(href="") Olvide mi contraseña
                        .button-submit
                                button(type="submit").btn.red.darken-4 Iniciar Sesión
