extends includes/layout.pug

block content

    .container
        h5.center.title-section-bussines Nuestra experiencia es tu mejor garantía

        .row
            .bussines-photo-office.col.l8
                .row.container-section-values
                    .col.l2.container-name-items
                        ul#about-item-list
                            li
                                a(href="#") Nosotros
                            li
                                a(href="#") Misión
                            li
                                a(href="#") Visión
                    .col.l10.description-values  
                        p#about-description-1 
                            | Somos una empresa peruana que fabrica y distribuimos cajas archiveras, revisteros, archivadores, portatodos y útiles de oficina.
                            | GRUPO LIDER tiene una importante participación en el mercado Nacional, con la fabricación de cajas de archivo, abasteciendo a 
                            | la empresa Pública y Privada, Tanto en Cajas de cartón gris en todos los calibres como cajas de cartón corrugado.
                            | Los tipos de cajas de cartón que provee son de cartón gris prensado y cartón corrugado según cada requerimiento del usuario o 
                            | también a la necesidad de cada cliente.
                        p#about-description-2.hide 
                            | Este es otro parrafo que va a pertenecer al item 2 de la sección Misión.
                            | GRUPO LIDER tiene una importante participación en el mercado Nacional, con la fabricación de cajas de archivo, abasteciendo a 
                            | la empresa Pública y Privada, Tanto en Cajas de cartón gris en todos los calibres como cajas de cartón corrugado.
                            | Los tipos de cajas de cartón que provee son de cartón gris prensado y cartón corrugado según cada requerimiento del usuario o 
                            | también a la necesidad de cada cliente.
                        p#about-description-3.hide 
                            | Este es otro parrafo que va a pertenecer al item 2 de la sección Misión.
                            | GRUPO LIDER tiene una importante participación en el mercado Nacional, con la fabricación de cajas de archivo, abasteciendo a 
                            | la empresa Pública y Privada, Tanto en Cajas de cartón gris en todos los calibres como cajas de cartón corrugado.
                            | Los tipos de cajas de cartón que provee son de cartón gris prensado y cartón corrugado según cada requerimiento del usuario o 
                            | también a la necesidad de cada cliente.

            .bussines-details.col.l4
                img(src="https://www.casmon.net/wp-content/uploads/2016/05/Fachada-systempool.jpg", alt="imagen", width="320", height="300").materialboxed