extends includes/layout.pug

block content
    .container
        .row
            h5.center.title-section Nuestros Productos

        .container-products    
            each i in products
                .card.products-card#products
                    .card-image
                        img(src=i.image, alt="")
                    .card-content
                        p= i.description
                    .card-action
                        a(href="#modal1")#clickmodal.blue-text.modal-trigger Ver mas


        #modal1.modal
            .modal-content
                .row
                    .col.m6
                        h5 Título del producto
                        
                        p 
                        | Descripcion del producto
                        p
                        | Stock Disponible: Cantidad del producto
                    .col.m6
                        .card.small
                            img(src="img/productos/producto02.png" alt="").responsive-img.
            .modal-footer
                a(href="#!").modal-close.wavees-effect.waves.black.btn-flat.white-text Cerrar


        




    .container
        .container-form
            .row
                .contact-img.col.s12.l6
                    h5 Cotiza nuestros productos
                    img(src="img/seller.png", alt="Imagen").img-form.log
                .contact-form.col.s12.l6
                    p.title-form FORMULARIO
                    .row
                      .input-field.col.s12
                        input(type="text")#name.validate
                        label(for="name") Nombres
                    .row
                      .input-field.col.s12
                        input(type="text")#last_name.validate
                        label(for="last_name") Apellidos
                    .row
                      .input-field.col.s12
                        input(type="email")#email.validate
                        label(for="email") Email
                    .row.container-btn-form
                      a(href="#").waves-effect.waves-light.btn.red.darken-4.btn-form Enviar





