/******************** GENERAL STYLES ********************/

* {
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Lato';
}

/******************** TEST STYLES ********************/
.container-test {
    height: 900px;
}

.container-test-2{
    height: 200px;
}

.log {
    border: 1px solid green;
    /* font-size: 1.5rem; */
    text-align: center;
}

.quit-margin{
    margin: 0;
}

/******************** PARTIALS STYLES ********************/

/********** NAVIGATION */
.custom-nav img {
    width: 200px;
    vertical-align: middle;
    margin-left: 2em;
}

.nav-items{
    margin-right: 5em;
}

#mobile-demo .material-icons{
    display: flex;
    padding-left: 32px;
}

#mobile-demo li a{
    padding-left: 12px;
    font-family: 'Lato';
}

.sidenav li>a:hover{
    background-color: rgba(0,0,0,0);
}

.sidenav .material-icons:hover{
    background-color: rgba(0,0,0,0.05);
}

#logo-mobile{
    display: list-item;
}

.logo-desactive{
    display: none!important;
}

#logo-mobile .brand-logo img{
    padding: 8% 10% 0% 10%;
    max-width: 90%;
}

.nav-items li:hover {
    background-color: #b83232bd;
}

.nav-items li{
    transition: background-color 0.6s linear 0.1s;
}

.nav-items li a{
    color:#a42d1e;
    font-weight: bold;
}

.nav-items li a:hover{
    /* font-size: 20px; */
    color: white;
}

/********** FOOTER */
.title-section-footer {
    font-weight: bold;
    font-size: 1.25em;
}

.datos-columna p{
    margin: 5px 0;
}

.social-media{
    display: flex;
}

.social-media li{
    align-items: center;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 45px;
    justify-content: center;
    margin: .2em .5em 0em 0em;
    padding: .7em;
    width: 45px;
}

.social-media li:hover{
    background-color: #791f0f;
    transition: .1s;
}


.social-media li:hover i{
    color: white;
    transition: .2s;
}

.social-media i{
    color: #b8311f;
    font-size: 1.5em;
}

.social-media .fa-instagram{
    font-weight: bold;
    margin-right: 0.09em;
}

.page-footer .footer-copyright {
    padding: 0;
    background-color: rgba(51,51,51,0.15);
}

/******************** HOME PAGE ********************/
/* Slider in HomePage */
.slider{
    max-width: 100%x;
    height: 90vh;
    margin: 0 auto;
    position: relative;
}

.slider1, .slider2, .slider3{
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider1{
    background: url('/img/slider1.png')no-repeat center;
    background-size: cover;
    animation:fade 8s infinite;
    -webkit-animation:fade 8s infinite;
}
.slider2 {
    background: url('/img/slider2.png')no-repeat center;
    background-size: cover;
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite;
}
.slider3 {
    background: url('/img/slider3.png')no-repeat center;
    background-size: cover;
    animation: fade3 8s infinite;
    -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
    0%      { opacity: 1 }
    33.333% { opacity: 0 }
    66.666% { opacity: 0 }
    100%    { opacity: 1 }
}
@keyframes fade2 {
    0%      { opacity: 0 }
    33.333% { opacity: 1 }
    66.666% { opacity: 0 }
    100%    { opacity: 0 }
}
@keyframes fade3 {
    0%      { opacity: 0 }
    33.333% { opacity: 0 }
    66.666% { opacity: 1 }
    100%    { opacity: 0 }
}

/********** Section We Services */

.title-section-services{
    font-weight: bold;
    font-size: 2.441em;
}

.titulo-servicio{
    font-size: 1.563em;
}

.container-services-section {
    padding: 20px 10px;
}

.container-services-section .container{
    width: 80%;
}

.container-cards-services{
    color: white;
    margin-bottom: 2.4rem;
    width: 100%;
}

.descripcion-servicio{
    padding-left: 1.2em;
}

@media (max-width: 430px) {
    .title-section-services{
        padding: 0em .5em
    }
}






/********** Section Slider Client */
.title-section-clients-slider{
    color: #b71c1c;
    margin: 1em 0em;
    margin-bottom: 0;
    text-align: center;
    font-size: 2.441em;
    font-weight: bold;
}


.slider-clients{
    height: 200px;
}

.carousel{
    margin: -1em -2em;
}

.image-container{
    /* margin: 1.2rem; */
    margin-top: 0;
    padding: 1.2rem;
    width: 800px;
}

.image-container img{
    width: 150%!important;
    height: auto;
}

.carousel .carousel-item{
    height: auto;
}


/******************** PRODUCTS PAGE ********************/

.title-section {
    color: #b71c1c;
    font-weight: bold;
    padding-top: 1.5rem;
}

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.2rem;
    grid-auto-flow: row;
    padding: 0.5rem;
    /* border: 1px solid green; */
}

/* .products-card{
    
} */

.products-card:hover {
    transform: scale(1.05);
    transition: ease-out .2s;
}


/* styles for modal product */

/* .modal-content img:hover{
    transform: scale(1.8);
} */





/********** Section Form */
.title-form{
    color: #b71c1c;
    font-weight: bold;
    padding-top: 1.5rem;
    text-align: center;
}

.container-form{
    margin-top: 1.5em;
}

.card .card-image{
    border-bottom: 1px solid rgba(160,160,160,0.2);
}

.products-card .card-action{
    border-top: 0px;
    padding-top: 0px;
    text-align: right;
}

.card-content{
    font-size: 1.1em;
}

.modal{
    height: -webkit-fill-available;
}

.modal h5{
    font-weight: bold;
    padding-bottom: 1em;
}

.modal-footer{
    margin: -1em;
}

.container-btn-form{
    text-align: center;
}

.btn-form{
    width: 40%;
    margin: 0 auto;
}

.row-form{
    justify-content: center;
    align-items: center;
}

.contact-img{
    text-align: center;
    height: 100%;
}

.contact-img img {
    height: 450px;
}
/* .contact-img > h5{
    color: #b71c1c;
    text-align: center;
} */

.img-form{
    width: 80%;
    height: 100%;
}

/******************** ABOUT PAGE ********************/

.title-section-bussines {
    color: #b71c1c;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.container-name-items {
    padding: 0 !important;  /* not let*/
}

.container-name-items ul {
    margin: 0;
}

#about-item-list .active{
    background-color: #b71c1c;
}

.active a{
    color: white!important;
}

.container-name-items ul li {
    border-radius: .2em 0em 0em .2em;
    cursor: pointer;
    padding: 0.3rem;
    margin-bottom: .5em;
}

.container-name-items ul li:hover{
    background-color: #b71c1c;
}

.container-name-items ul li:hover a{
    color: white!important;
}

.container-name-items ul li a {
    color: black;
    font-weight: bold;
    width: 100%;
    padding-left: 1em;
}

.materialboxed{
    border-radius: .5em;
    margin: auto;
}

.description-values{
    border-left: 2px solid #b71c1c;
}

.bussines-details img{
    max-width: 100%;
}

.fadeIn{
    transition: opacity 400ms;
}

@media (max-width: 1180px) {
    .container-name-items ul li a{
        padding-left: 0rem;
    }
}

@media (max-width: 992px) {
    .container-name-items ul li a{
        padding-left: 1rem;
    }
}

@media (max-width: 380px) {
    .container-name-items ul li a{
        padding-left: 0rem;
    }
}

/******************** CONTACT PAGE ********************/

.contenedor-card{
    margin-top: 40px;
}

.card .card-content{
    padding: 20px;
}

.card .card-content h5{
    margin: 2px;
}

.card .card-content span {
    font-style: italic;
}

.contenedor-datos {
    display: flex;
}

.contenedor-datos i {
    margin-right: 10px;
    color: #b71c1c;
}

.contenedor-datos span {
    color: #b71c1c;
    font-weight: bold;
}

.contenedor-datos p{
    margin: 5px 0;
}

.map{
    border-radius: 5px;
    width: 100%;
    height: 450px;
}

/******************** LOGIN PAGE ********************/
/* .testcontainer{
background-color: #b71c1c;
} */

.login-card-container{
    max-width: 25rem;
    padding: 1.8rem;
    text-align: center;
    margin: 7rem auto;
}

.login-card-container img {
    width: 100%;
}

.login-button-container{
    display: flex;
    justify-content: space-around;
    padding-top: 1.6rem;
}


