
footer.page-footer.red.darken-4
    .container
        .row
            .col.s12.m6.l3
                p.title-section-footer Oficinas
                ul.datos-columna
                    li Av. Principal N°260
                    li CP San Pedro de Pilpa
                    li Sunampe
                    li Chincha
            
            .col.s12.m6.l3
                p.title-section-footer Horario de Atención
                ul.datos-columna
                    li Lunes a Viernes 
                    li 8:00 am a 6:00 pm
                    li Sabados
                    li 9:30 am a 1:00 pm
            
            .col.s12.m6.l3
                p.title-section-footer Contacto
                ul.datos-columna
                    li (056) 123 132
                    li 987 654 321
                    li info@cartoneria.com
                    li ventas@cartoneria.com
    
            .col.s12.m6.l3
                p.title-section-footer Redes Sociales
                ul.datos-columna.social-media
                    li 
                        a(href="#", title="title").white-text 
                            img(src="img/icons/facebook.png", alt="")
                    li 
                        a(href="#", title="title").white-text 
                            img(src="img/icons/instagram.png", alt="")
                    li 
                        a(href="#", title="title").white-text 
                            img(src="img/icons/twitter.png", alt="")
                    li 
                        a(href="#", title="title").white-text 
                            img(src="img/icons/linkedin.png", alt="")
    .row.quit-margin
        .footer-copyright
            .container
                p © 2020 Todos los derechos reservados  
script(src="/js/plugins/jquery/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPvV_ncId8Z3WTScZ9zx1LpgvnmgV-8kY&callback=initMap")
script(src="/js/script.js")