nav
  .nav-wrapper.custom-nav.white
    //- .nav-wrapper.custom-nav.red.darken-4
    a.brand-logo(href='/')
      img(src="/img/logo_cartoneria.png", alt="Logotipo")
    a.sidenav-trigger(href='#' data-target='mobile-demo')
      i.material-icons.brown-text menu
    ul.right.hide-on-med-and-down.nav-items
      li
        a(href='/').item-nav Inicio
      li
        a(href='productos') Productos
      li
        a(href='nosotros') Nosotros
      li
        a(href='contacto') Contactenos
      li
        a(href='login') Login

ul.sidenav#mobile-demo
  li
    a(href='/').black-text Inicio
  li
    a(href='productos').black-text Productos
  li
    a(href='nosotros').black-text Nosotros
  li
    a(href='contacto').black-text Contactenos
  li
    a(href='login').black-text Login 
